{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <div class="center">
        <h2><a href="{% url 'testapp:testgroup_list' %}">Quiz Test</a></h2>
        <div class="header__right">
            {% if request.user.is_authenticated %}
                <a href="{% url 'testapp:test_new' %}">Yangi test</a>
                <a href="{% url 'testapp:testgroup_new' %}">Yangi test guruhi</a>
                <a href="{% url 'users:profile' request.user.username %}">Profil</a>
                <a href="{% url 'users:logout' %}">Chiqish</a>
            {% else %}
                <a href="{% url 'users:users_list' %}">Foydalanuvchilar</a>
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</header>
<div class="content-container">
    {% block content %}
    {% endblock %}
</div>
</body>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js">
</script>
{% block script %} {% endblock %}
</html>