{% extends 'base.html' %}
{% block title %}
    Profil
{% endblock %}

{% block content %}
    <div class="header__right a_link">
        {% if request.user.is_authenticated %}
            <a href="{% url 'users:edit' %}">Profilni tahrirlash</a>
        {% endif %}
            <a href="{% url 'users:users_list' %}">Foydalanuvchilar</a>
    </div>
    <h3>{{ user.first_name }} {{ user.last_name }} tomonidan yaratilgan testlar:</h3>
    {% for test_group in test_groups %}
        <div class="a_link">
            <a href="{% url 'testapp:testgroup_detail' test_group.pk %}"> {{ test_group.name }} </a>
        </div>
    {% endfor %}
{% endblock %}