{% extends 'base.html' %}
{% block title %}
    Foydalanuvchilar
{% endblock %}

{% block content %}
    <div class="form-box">
        <h2>Foydalanuvchilar:</h2>
        {% for user in users %}
            <div class="a_link list-element">
                <a href="{% url 'users:profile' user.username %}"> {{ user.first_name }} {{ user.last_name }} </a>
                <span class="list-element__span">Testlari soni: {{ user.testgroup_count }}</span>
                <span>|</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}